.tableContainer {
    /* display: grid;
    grid-template-rows: 1fr 1fr;
    /* Divide the container into two rows with equal height */

}

.table {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-collapse: collapse;
    width: 100%;


}

.th {
    border: 1px solid #ddd;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    font-size: large;
    /* font-size: 'large'; */
}

.tbody {
    /* height: '30%';
    overflow: scroll; */
}

.td {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 16;

}

.tr {
    background-color: white;
    color: black;
}

.tr:hover {
    background-color: #ddd;
}

.btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.paginationContainer {
    display: flex;
    flex-direction: column;
}