.tableContainer {
    /* display: grid;
    grid-template-rows: 1fr 1fr;
    /* Divide the container into two rows with equal height */

}

.table {
    margin-top: 5px;
    border-collapse: collapse;
    width: 100%;

}

.th {
    border: 1px solid #ddd;
    padding: 10px 8px;

    text-align: center;
    background-color: #36304a;
    /* background-color: #333333; */
    color: white;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Merriweather', serif; */
    /* font-family: 'Roboto', sans-serif; */
    font-size: 16px;
}

.tbody {
    /* height: '30%';
    overflow: scroll; */
}

.td {
    border: 1px solid lightgrey;
    padding: 8px;
    font-size: 14px;

    /* font-family: 'Nunito Sans', sans-serif; */
    /* font-family: 'Merriweather', serif; */
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Roboto', sans-serif;

}

.tr {
    background-color: white;
    color: black;
    /* border: 1px solid #812a2a; */
}

.tr:nth-child(even) {
    background-color: #efeded;
}

.tr:hover {
    background-color: #ddd;
}

.btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.paginationContainer {
    display: flex;
    flex-direction: column;
    /* margin-top: 15px; */
}

.paginationInfo {
    border: 1px solid lightgrey;
    border-radius: 5px;

    padding: 5px 15px;

    text-align: center;
    font-size: 15px;
    font-weight: 600;
    /* font-family: 'Nunito Sans', sans-serif; */
}

.paginationUpper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 15px;
    margin-bottom: 15px;
}

.btn {
    /* padding: 10px 20px; */
    margin-left: 10px;
    width: 6.5rem;
    padding-top: 6px;
    padding-bottom: 6px;

    font-size: 15px;
    font-weight: 600;
    font-family: 'Nunito Sans', sans-serif;

    border: 0px solid lightgrey;
    border-radius: 5px;
    background-color: #5f5fd4;
    color: white
}

.btn:hover {
    background-color: #1818cf;
    color: white;
    outline: 0px solid grey;
    border: none;
}

.btn:focus {
    background-color: #2e3a68;
    color: white;
    outline: none;
    border: none;
    box-shadow: rgba(60, 64, 67, .3) 0 5px 5px 0, rgba(60, 64, 67, .15) 0 10px 8px 3px;

}

.gotoBtn {
    margin-left: 10px;
    /* margin-right: 10px; */
    width: 6.5rem;
    padding-top: 6px;
    padding-bottom: 6px;

    font-size: 15px;
    font-weight: 600;
    font-family: 'Nunito Sans', sans-serif;

    border: 0px solid lightgrey;
    border-radius: 5px;
    background-color: #359684;
    color: white
}

.gotoBtn:hover {
    background-color: #24675b;
    color: white;
    outline: 0px solid grey;
    border: none;
}

.gotoBtn:focus {
    background-color: #2e3a68;
    color: white;
    outline: none;
    border: none;
    box-shadow: rgba(60, 64, 67, .3) 0 5px 5px 0, rgba(60, 64, 67, .15) 0 10px 8px 3px;

}

.gotoContainer {
    /* margin-top: 15px; */
    width: 68%;
}

.input {
    width: 3rem;
    /* height: 2.4rem; */
    padding: 5px 0px;
    padding-left: 10px;
    margin-left: 10px;

    font-size: 15px;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;

    border-radius: 5px;
    outline: none;
    border: 1px solid lightgrey;
}

.input:focus {

    outline: none;
    /* border: none; */
}

.dropPageContents {
    margin-left: 10px;
    width: 7rem;
    padding: 5px;

    border-radius: 5px;
    border: 1px solid lightgrey;

    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;

}