.container {
    display: flex;
    align-items: center;
}

.input {
    border-radius: 5px;
    height: 25px;
    outline: none;

    width: 7rem;
    border: 1px solid black;

    margin-top: 5px;
    text-align: center;
}