.container {
    margin-top: 5px;
    width: 10.5rem;
    /* background-color: blue; */
    height: 25px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    outline: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}