.savebtn {
    background-color: #1b801f;
    border: 2px solid #1b801f;
    border-radius: 10px;
    color: white;

    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-right: 10px;
    cursor: pointer;

    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    transition: background-color 0.3s ease;

}

.savebtn:hover {
    background-color: #0e6e11;
    color: white;
    box-shadow: rgba(60, 64, 67, .3) 0 5px 5px 0, rgba(60, 64, 67, .15) 0 10px 8px 3px;
}

.savebtn:focus {
    background-color: #1b801f;
    color: white;

    outline: 2px solid #1b801f;
}

.exportBtn {
    background-color: #227cdc;
    border: 2px solid #227cdc;
    border-radius: 10px;
    color: white;

    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-right: 10px;
    /* margin: 10px 2px; */
    cursor: pointer;

    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    transition: background-color 0.3s ease;
}

.exportBtn:hover {
    background-color: #1a62af;
    border: 2px solid #1a62af;
    color: white;
    box-shadow: rgba(60, 64, 67, .3) 0 5px 5px 0, rgba(60, 64, 67, .15) 0 10px 8px 3px;
}

.exportBtn:focus {
    background-color: #227cdc;
    color: white;

    outline: 2px solid #227cdc;
}