.textInput {
    width: 14rem;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.label {
    text-align: left;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.dropInput {
    width: 14rem;
    padding: 7px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}